#main_container{
    display: flex;
    height: 100%;
}
html, body {
    height: 100%;
    margin: 0;
}
#sidebar{
    /* width: 250px; */
    width: 19%;
    position: fixed;
    height: 100%;
    background: cadetblue;

}
.sidebar_title{
    justify-self:center;
    margin-top: 63px;
}
#content{
    /* padding: 20px; */
    width: 100%;
    margin-left: 19%;
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.meets:hover{
    /* cursor:pointer; */
        color: white;
    /* cursor: pointer; */
    background: #67391d52;
}
.meet_container{
    width: 221px;
    margin-bottom: 10px;
        justify-self: center;
        margin-top: 20px;
    border-radius: 50px;
    background: lightyellow;
}

.meets{
        width: 100%;
    padding: 10px 8px;
    padding-top: 14px;
    padding-bottom: 12px;
    border-radius: 10px;
    background: lightyellow;
    border: none;
}
.navbar{
    background: blueviolet;
    padding: 15px;
    margin-bottom: 4%;
    position: sticky;
    top: 0;
}
.InterviewBtn{
    justify-self: right;
}
.chat_message{
    height: 100vh;
}
.userresponse{
    /* width: 100%;
    display: flex;
    justify-content: right; */
    display: flex;
    color: white;
    background: black;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
}
.right{
    color: white;
    background: rgb(229, 6, 62);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    width: max-content;
    justify-self: right;
}
.left{
    color: white;
    background: rgb(0, 79, 198);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    width: max-content;
    justify-self: left;
}
#chat_message{
        padding: 15px;
}
#startInterview{
    padding:5px 17px;
    background-color: white;
    color: black;
    border-radius: 12px;
}
#startInterview:hover{
    color: white;
    background: rgb(24 7 41 / 53%);;
}