.userresponse{
    /* width: 100%;
    display: flex;
    justify-content: right; */
    display: flex;
    color: white;
    background: black;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
}
.right{
    color: white;
    background: rgb(229, 6, 62);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    width: max-content;
    justify-self: right;
    max-width: 60%;
    overflow-wrap: break-word;

}
.left{
    color: white;
    background: rgb(0, 79, 198);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    /* width: max-content; */
    justify-self: left;
    max-width: 60%;
    overflow-wrap: break-word;
}
.meets{
    justify-self: center;
}
.speakBtn{
    position: absolute;
    bottom: 0;
    border: 2px solid black;
    width: 46%;
    margin-bottom: 29px;
    justify-self: center;
    padding: 1% 7%;
    border-radius: 60px;
    background: #32383f;
}
#speech{
    display: flex;
    justify-self: end;
    align-self: center;
    background: cadetblue;
    border-radius: 50px;
    padding: 2px 20px;
}
body{
        height: 100%;
    background: black;
    color: white;
}
#dialogue{
    margin-top: 24%;
    /* justify-self: center; */
    /* align-self: center; */
    /* vertical-align: baseline; */
    align-items: center;
    align-self: center;
    font-size: 30px;
    /* justify-self: center; */
    text-size-adjust: 25px;
    justify-self: anchor-center;
}