<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <!-- <textarea id="userresponse">Enter your text here</textarea> -->
    <button id="speech">speak</button>
    <div id="person1" style="display: flex;">
    </div>
    <div id="person2" style="display: flex;"></div>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="../static/sessions.js"></script>
</body>
</html>